* {
  margin-left: 10px;
}

.clocks {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.time {
  font-style: italic;
}

.clock-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.remove {
  background: url('./components/pic/cross.png') center center no-repeat;
  background-size: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}